examples/publish_fetch_example.json
[{"id":"b45cfed.58a5a","type":"tab","label":"publish_fetch_example","disabled":false,"info":""},{"id":"7849d3a3.804d8c","type":"inject","z":"b45cfed.58a5a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"test var\":\"test value\"}","payloadType":"json","x":320,"y":240,"wires":[["b7b2555a.5b69b8"]]},{"id":"ac68e8c4.7eec18","type":"debug","z":"b45cfed.58a5a","name":"publish address","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":240,"wires":[]},{"id":"f2f8e697.c9ad58","type":"debug","z":"b45cfed.58a5a","name":"fetched data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"b7b2555a.5b69b8","type":"MAM publish","z":"b45cfed.58a5a","iotaNode":"https://nodes.comnet.thetangle.org:443","mode":"public","secretKey":null,"x":570,"y":240,"wires":[["51daf771.bcc9d8","ac68e8c4.7eec18"]]},{"id":"51daf771.bcc9d8","type":"MAM fetch","z":"b45cfed.58a5a","iotaNode":"https://nodes.comnet.thetangle.org:443","mode":"public","secret":"","limit":1,"x":570,"y":320,"wires":[["f2f8e697.c9ad58"]]}]